body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
}

.cursive {
    font-family: 'Permanent Marker', cursive;
}

.footer {
    margin-top: 25px;
}

table .collapse.in {
	display:table-row;
}

.jumbotron {
    text-align: center;
    background-color: transparent;

}
.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}

.text-error {
    color: #a94442;
    font-weight: 400;
    font-size: 14px;
}