body {
    font-family: 'Raleway', sans-serif;
    background-color: #fff;
}

.cursive {
    font-family: 'Permanent Marker', cursive;
}

.footer {
    margin-top: 25px;
}

table .collapse.in {
	display:table-row;
}